{% extends 'base.html.twig' %}

{% block title %}Table Info{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Send</button>

    {{ form_end(form)}}

    {{ include('main/table.html.twig', {'mains': mains}) }}


{#    {{ include('main/edit.html.twig', {'editForm': editForm}) }}#}
{% endblock %}
